################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Unity/Temp/UnityLockfile
/Unity/.vs/Unity/v16
/Unity/Temp
/Unity/Assets/HumanMotionGeneration/STLImport.cs.meta
/Unity/Assets/HumanMotionGeneration/SkeletOutput.txt.meta
/Unity/Assets/HumanMotionGeneration/FPSTarget.cs.meta
/Unity/SkeletOutput.csv
/Unity/Assets/ADAPT Core/Tutorials/Tutorial4/Completed/Tutorial4Completed/NavMesh.asset
/Unity/Assets/ADAPT Core/Tutorials/Tutorial4/Completed/Tutorial4Completed/NavMesh.asset.meta
/Unity/Assets/ADAPT Core/Tutorials/Tutorial4/Completed/Tutorial4Completed.meta
/Unity/Assets/HumanMotionGeneration/HMG/NavMesh.asset
/Unity/Assets/HumanMotionGeneration/HMG/NavMesh.asset.meta
/Unity/Assets/HumanMotionGeneration/HMG.meta
/Unity/Assets/HumanMotionGeneration/Stl.meta
/Unity/Assets/HumanMotionGeneration/WandererBehavior.cs.meta
/Unity/Assets/HumanMotionGeneration/Actions.cs.meta
/Unity/Assets/HumanMotionGeneration/CharacterMovement.cs.meta
/Unity/Assets/HumanMotionGeneration/charMovementsIn.txt.meta
/Unity/Assets/HumanMotionGeneration/HMG.unity.meta
/Unity/Assets/HumanMotionGeneration/LoopMovement.cs.meta
/Unity/Assets/HumanMotionGeneration/SkeletOutput.txt
/Unity/Assets/HumanMotionGeneration/SkeletOutput.cs.meta
/Unity/Assets/HumanMotionGeneration/StlAssetPostProcessor.cs.meta
/Unity/Assets/HumanMotionGeneration/TestCharMove.cs.meta
/Unity/Assets/HumanMotionGeneration/TestSTL.cs.meta
/Unity/Assets/ADAPT Core/Tutorials/Tutorial4/Completed/Character.prefab
/Unity/Assets/ADAPT Core/Tutorials/Tutorial4/Completed/Character.prefab.meta
/Unity/Assets/HumanMotionGeneration/Demo_RandomWalk.mp4.meta
/Unity/Assets/HumanMotionGeneration/Demo_WalkAndReach.mp4.meta
