################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Unity/Temp/UnityLockfile
/Unity/.vs/Unity/v16
/Unity/Temp
/Unity/Assets/HumanMotionGeneration/STLImport.cs.meta
/Unity/Assets/HumanMotionGeneration/SkeletOutput.txt.meta
/Unity/Assets/HumanMotionGeneration/FPSTarget.cs.meta
/Unity/SkeletOutput.csv
