################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Unity/Temp/UnityLockfile
/Unity/.vs/Unity/v16
/Unity/Temp
